@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(3, 82, 82);
}
.container
{
   height: 100vh;
}
.card1{
    position: relative;
    height: 350px;
    width: 250px;
    background-color: #fff;
    top: 100px;
    left:10px;
    
}
.content{
    position: relative;
    height: 90%;
    
}
.content__img{
    position: absolute;
    height: 50%;
    width:60%;
    background-image: url(../img/chica2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    top: 30px;
    left: 50px;
}
.content__txt{
    position: relative;
    top: 250px;
    text-align: center;   
}
.content__txt h2{
    font-family: 'Montserrat', sans-serif 500;
}
.content__txt p{ 
    font-family: 'Montserrat', sans-serif 100;
    color: rgba(0,0,0,0.6);
}
.icons{
    position: relative;
    height: 10%;
    background-color: rgb(43, 74, 253);
    text-align: center;
}
.icons i{
    color: #fff;
   padding: 10px;

}
/*! Aca empieza la siguiente card  */
.card2{
    position:absolute;
    left: 300px;
    height: 300px;
    width: 500px;
    border: 1px solid black;
    top: 100px;
}
.card2__img{
    width: 50%;
    height: 100%;
    float: left;
}
.card2__img img{
    width: 100%;
    height: 100%;
}
.card2__txt{
    background-color: #fff;
    height: 100%;
    text-align: center;
    float: right;
    width: 50%;
}
.txt1{
    position: relative;
    text-align: center;
    top: 30px;
    
    height: 33%;
}
.txt1 h2{
    font-family: 'Bentham', serif;
    font-size: 30px;
}
.txt1 p{
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    color: rgba(0,0,0,0.4);
    letter-spacing: 1px;

}
.txt2{
    position: relative;
    height: 33%;
    font-family: 'Trocchi', serif;
    color: rgba(0,0,0,0.4);
    line-height : 20px;
    text-align: start;
    font-size: 15px;
    width: 86%;
    left: 30px;

}
.txt3{
    position: relative;
    height: 33%;
    font-family: 'Suranna', serif;
    
}
.txt3 *{
    display: inline;
    
}
.precio{
    position: absolute;
    top: 37px;
    left: 40px;
    font-size: 30px;
}
.boton{
    position: absolute;
    top: 30px;
    width: 40%;
}
.boton button{
    padding: 15px;
    border-radius: 5em;
    width: 100%;
    border: none;
    color: #fff;
    background-color: rgb(143, 250, 214);
    font-weight: 700;
}

/*! Aca empieza la siguiente card  */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.card3{
    position: absolute;
    height: 300px;
    width: 500px;
    border: 1px solid black;
    right: 10px;
    top: 100px;
}
.card3__img{
    width: 50%;
    height: 100%;
    float: right;
}
.card3__img img{
    width: 100%;
    height: 100%;
}
.content3{
    float: left;
    width: 50%;
    height: 100%;
    background-color: #fff;
}
.div1{
    position: relative;
    height: 20%;
    font-family: 'Old Standard TT', serif;
    padding: 15px;
}
.div1 span{
    position: absolute;
    top: 10px;
    left: 160px;
    background-color: rgb(237, 212, 252);
    font-family: 'Caveat', cursive;
    color: #fff;
    border-radius: 25%;
    font-size: 15px;
    padding:2px;
}
.div1 h1{
    font-size: 25px;
}
.div1 img{
    width: 40%;
    height: 30%;
}
.div2{
    height: 50%;
    font-family: 'Farsan', cursive;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    padding: 0 4px 0 4px;
}
.div3{
    position: relative;
    height: 20%;   
    
}
.div3__content{
    position: relative;
    width: 60%;
    height: 80%;
    left: 50px;
    border-radius: .7em;
    overflow: hidden;
}
.price{
    float: left;
    height: 100%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: 'Farsan', cursive;
    color: #fff;
}
.price p{
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 14px;
}
.button {
    float: right;
    height: 100%;
    width: 70%;
    background-color: rgb(84, 206, 84);
}
.button button{
    position: absolute;
    border: none;
    background: none;
    color: #fff;
    font-family: 'Farsan', cursive;
    top: 10px;
    right: 25px;
    font-size: 15px;
}
