@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700&display=swap);
*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: url(../img/pattern-background-desktop.svg);
    background-position: top ;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.card2{
    position: relative;
    width: 250px;
    height: 400px;
    
    margin: auto;
    top: 150px;
    border-radius: 5%;
    overflow: hidden;
    background-color: #fff;
}
.card2__img{
    position: absolute;
    background-image: url(../img/illustration-hero.svg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40%;
}
.div1{
    position: relative;
    width: 100%;
    height: 100px;
    top: 180px;
    margin: auto;
    text-align: center;
}
.div1 p{
    font-size: 10px;
    width: 80%;
    margin: auto;
    letter-spacing: 1px;
}
.div2{
    position: relative;
    display: block;
    margin: auto;
    top: 155px;
    background-color: rgba(79, 134, 197, 0.1);
    padding: 10px;
    width: 80%;
    height: 50px;
    border-radius: 5%;
}
.div2 *{
    display: inline;
}
.div2 img{
    float: left;
    width: 40px;
    height: 40px;
}

.mid h2{
    font-size: 14px;
    display: block;
}
.mid p{
    font-size: 10px;
}
.div2 a{
    float: right;
    color: blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}
.div3{
    position: relative;
    top: 165px;
}

.div3 *{
    display: block;
    margin: auto;
    text-align: center;
}
.div3 button{
    background-color: blue;
    width: 90%;
    height: 35px;
    border-radius: 5%;
    font-weight: bolder;
    color: #fff;
    padding: 7px;
}
.div3 a{
    padding: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
}