<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar__container">
        <div class="navbar__content">
            <div class="options">
                <a class="option" href="#">Simple Bookmarking</a>
                <a class="option" href="#speedy">Speedy Searching</a>
                <a class="option" href="#easy">EasySharing</a>
            </div>
        </div>
    </nav>
   <section id="speedy" class="container4">
        <!-- <div class="center">
            <ul>
                <li><a href="">Simple Bookmarking</a></li>
                <li class="active2"><a href="">Speedy Searching</a></li>
                <li><a href="">Easy Sharing</a></li>
            </ul>
        </div> -->
        <div class="contenido">
            <div class="image">
                <img src="../img/illustration-features-tab-2.svg" alt="" srcset="">
            </div>
            <div class="text">
                <h3>Intelligent search</h3>
                <p>Our powerful search feature will help you find saved sites in <br>
                    no time at all. No need to trawl through all of your bookmarks.</p>
                <button class="button">More Info</button>
            </div>
        </div>
    </section>

    <main class="main__container">
        
        <section id="easy" class="content__container">
            <div class="content__img">
                <img src="../img/illustration-features-tab-3.svg" alt="">
                <div class="cuadrado"></div>
            </div>
            <div class="content__txt">
                <h2>Share your bookmarks</h2>
                <p>Easily share your bookmarks and collections 
                    with others. Create a shareable link that you can send 
                    at the click of a button
                </p>
                <button>More info</button>
            </div>
        </section>
    </main>
    <div class="container__ivan">
        <div class="text-container">
            <h2>Frequently Asqued Questions</h2>
            <p>Here are some FAQs. If you have any other questions you'd like answered please feel
                free to email us.
            </p>
        </div>
        <div class="container-accordion">
            <button class="line accordion">What is Bookmark? <i class="far fa-angle-down"></i></button>
            <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <button class="line accordion">How can I request a new browser</button>
            <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <button class="line accordion">Is there a mobile app?</button>
            <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <button class="line accordion">What about other Chromium borwsers??</button>
            <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
    <script src="../js/ejer2.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>