<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style3.css">
    <title>Reply card</title>
</head>
<body>
        <main class="container">
            <div class="card1">
                <div class="content">
                    <div class="content__img"></div>
                    <div class="content__txt">
                        <h2>Michelle Miller</h2>
                        <p> Web Developer</p>
                    </div>
                </div>
                <div class="icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-google-plus-g"></i>
                    <i class="fab fa-linkedin-in"></i>
                </div>
            </div>
            <div class="card2">
                <div class="card2__img"><img src="../img/product-img.png" alt=""></div>
                <div class="card2__txt">
                    <div class="txt1">
                        <h2>Harvest Vase</h2>
                        <p>BY STUDIO AND FRIENDS</p>
                    </div>
                    <div class="txt2">
                        <p>Harvest Vase are a reinterpretation of peeled fruits
                            and vegetables as functional objects. The surfaces
                            appear to be sliced and pulled aside,allowing room
                            for growth
                        </p>
                    </div>
                    <div class="txt3">
                        <div class="precio"> <p>78$</p></div>
                        <div class="boton"><button >BUY NOW</button></div>
                    </div>
                </div>
            </div>
            <div class="card3">
                <div class="card3__img"><img src="https://sc01.alicdn.com/kf/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3/200006212/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3.jpg" alt=""></div>
                <div class="content3">
                    <div class="div1">
                        <h1>Biru Putaran</h1><span>New</span>
                        <img src="../img/estrellas.png" alt="">
                    </div>
                    <div class="div2">
                        <p>" Especially good for container gardening, the Angelonia will keep blooming all summer even 
                            if old flowers are removed. Once tall enough to cut,
                             bring them inside and you'll notice a light scent that 
                             some say is reminiscent of apples. "</p>
                    </div>
                    <div class="div3">
                        <div class="div3__content">
                            <div class="price"><p>49$</p></div>
                            <div class="button"> <button>Buy Now</button></div>
                        </div>
                    </div>
                </div>

            </div>
           
           
            

        </main>

        <script src="https://kit.fontawesome.com/b4c4dc37b0.js" crossorigin="anonymous"></script>
</body>
</html>