<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style1.css">
    <title>Reply cards</title>
</head>
<body>
    <div class="container">

        <div class="card1">
            <div class="card1__img"></div>
            <div class="datos">
                <p><i class="far fa-eye"></i><span>2350</span> </p>
                <p><i class="fas fa-comment-alt"><span>624</span> </i></p>
                <p><i class="fas fa-download"></i> <span>1470</span> </p>
            </div>
            <div class="persona">
                <div class="persona__img"></div>
                <div class="texto">
                    <h2>White Montains</h2>
                    <p>by Joseph Therrien</p>
                </div>
            </div>
        </div>


    </div>
    <script src="https://kit.fontawesome.com/b4c4dc37b0.js" crossorigin="anonymous"></script>
</body>
</html>