*{
    margin: 0;
    padding: 0;

}

.main__container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card{
    display:flex;
    flex-direction: column;
}
button{
    font-size: 40px;
    color: blue;
    border: none;
    cursor: pointer;
    background-color: none;
}
.dark{
    color: #fff;
}
.bg-black{
    background-color: black;
}