*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/crew/background-crew-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main__container{
    height: 100vh;  
    display: flex;

    align-items: center;
    flex-direction: column;  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
    padding: 20px;
}
.navbar{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(88, 88, 88, 0.39);
    gap: 30px;
}

.navbar>a{
    text-decoration: none;
    color: rgba(175, 175, 175, 0.5);
}
.navbar>a>span{
    margin: 0 10px 0 0;
    color: #fff;
}
.section{
    color: #fff;
    height: 80vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.titleNav{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.spanTitle{
    margin: 0 10px 0 0;
    color: rgba(175, 175, 175, 0.5);
}
.navTitle{
    color: #fff;
}
.section__content{
    height: 85%;
    width: 100%;
    display: flex;
}
.left02{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.left02__content{
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.rigth02{
    width: 50%;
    height: 100%;
}
.img02{
    width: 100%;
    height: 100%;
    background-image: url(./assets/crew/image-anousheh-ansari.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
#title02{
    font-size: 50px;
}
.botones{
    display: flex;
    gap: 20px;
}
.hamburguesa{
    display: none;
}

@media(max-width:452px){


    .titleNav{
        font-size: 15px;
    }
    .navbar{
        position: absolute;
        right: 0;
        top: 0;
        width: 200px;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 100;
        --clip: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        clip-path: var(--clip);
        transition: 1s;
    }
    .hamburguesa{
        display: block;
        color: #fff;
        position: absolute;
        right: 20px;
        top: 50px;
        cursor: pointer;
        --translate: translateX(0%);
        transform: var(--translate);
        transition: 1s;
    }
  

    .section__content{
        flex-direction: column;
    }
    .rigth02{
        position: relative;
        width: 100%;
        height: 50%;
    }
    .left02{
        width: 100%;
        height: 50%;
        align-items: center;
    }
    .left02__content{
        font-size: 15px;
        justify-content: center;
        align-items: flex-start;
    }

    #title02{
        font-size: 30px;
    }
    .active{
        --clip: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
    .active__burguer{
        --translate: translateX(-200px)
    }
}