@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main__container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Dongle', sans-serif ;
    
}
.navbar{
    background-color: #fff;
    font-size: 25px;
    position: relative;
    width: 100%;
    height: 15%;
    font-weight: bold;
}
.navbar__content{
    background-color: #fff;
    position:fixed;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 2;
}
.options__left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 40px;
}
.options__left a,.options__rigth a{
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.select{
    border-bottom: 5px solid #1e3932;
}
.options__rigth{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0 40px 0 0;
}

.options__rigth p{
    display: flex;
    gap: 10px;
}
.btn-1{
    cursor: pointer;
    background:none;
    border-radius: 1em;
    padding: 5px 10px;
    border: 1px solid black;
}
.btn-2{
    color: #fff;
    cursor: pointer;
    background:black;
    border-radius: 1em;
    padding: 5px 10px;
}
.container__content{
    position: relative;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container__content>p{
    display: flex;
    font-weight: bold;
    align-items: center;
    
    padding: 0 0 0 40px;
    background-color: #1e3932;
    width: 100%;
    height: 7%;
    color: #fff;
    font-size: 20px;
}
.content{
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.content__img{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image:url(oriHermosa.jpg);
    background-position:center ;
    background-size: cover;
    z-index: -1;
}
.content__text{
    
    margin: 30px;
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    bottom: 0;
    gap: 20px;
}
.content__text h1{
    width: 30%;
    line-height: 35px;
}
.btn-3{
    background-color: #007645;
    border-radius: 1em;
    padding: 5px 10px;
    border: none;
    color: #fff;
}

.container{
    font-family: 'Dongle', sans-serif ;
    font-size: 25px;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h3{
    margin: 100px 0 0 0;
}

.container-columns{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: -100px 0 0 0;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
}

.column>*{
    padding: 20px 0 0 0;
    text-align: center;

}

.column p{
    padding: 20px 50px 0 50px;
}

.column a{
    color: rgb(132 188 162);
}

.circulo{
    
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0 17px;
    color: rgb(6 63 32);
    font-weight: bold;
    border: 1px solid rgb(6 63 32);
    font-size: 35px;
    border-radius: 100%;
}

.ofers{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: 'Dongle', sans-serif ;
    font-size: 20px;
}
.star{
    background-color: #f1f7f5;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.yellow{
    color: #fafc93;
}
.coffee{
    
    background-color: #d4e9e2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
}
.coffee__txt{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    float: right;
}
.coffee__img{
    position: relative;
    width: 50%;
    height: 100%;
}
.coffee__img img{
    width: 60%;
    height: 95%;
}
.extras{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.extras__txt{
    text-align: center;
    width: 40%;
    margin: 30px;
}
.extras__img{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.extras__img img{
    width: 100px;
    height: 100px;
}

.rasrasras{
    font-family: 'Dongle', sans-serif ;
    font-size: 20px;
    background-color: rgb(243 240 232);
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid;
    line-height: 1;
}

.top-text{
    width: 580px;
    height: 20%;
    text-align: center;
    margin: 20px 0 20px 0;
}

.top-text h3{
    margin: 20px 0 25px 0;
}

.container-rows{
    width: 100%;
    height: 80%;
}

.row{
    width: 100%;
    height: 33%;
    display: flex;
}

.col{
    width: 12%;
    margin: 25px;
    line-height: 1.5;
}

.col-x{
    margin: 25px 50px 0 25px;
    display: flex;
}

.col-x img{
    width: 100px;
    height: 150px;
}

.c-text{
    width: 235px;
    margin: 0 0 0 15px;
}

.c-text h4{
    font-size: 30px;
    margin: 0 0 25px 0;
}

.d-text{
    width: 240px;
    margin: 0 0 0 15px;
}

.d-text h4{
    font-size: 30px;
    margin: 0 0 25px 0;
}

.d-text p a{
    color: green;
}